<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/test" method="post">
    <% for(let i = 0; i < 5; i++) { %>
      <label for="penumpang<%= i %>">Penumpang ke- <%= i+1 %></label>
      <input type="text" name="penumpang[]" id="penumpang<%= i+1 %>"><br/>
      <label for="penumpang<%= i %>">Detail untuk peumpang ke- <%= i+1 %></label>
      <input type="text" name="detail[]" id="detail<%= i+1 %>"><br/><br/>
    <% } %>
    <input type="submit">
  </form>
</body>
</html>